# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2

[*.astro]
indent_style = space
indent_size = 2

[*.mjs]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2
